header {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  width: 20rem;
}

header button {
  padding: 2rem;
  background-color: inherit;
  border-radius: 50%;
  color: rgb(229, 38, 38);
  border: none;
  font-size: 2rem;
  margin-right: 4rem;
}

header button:hover {
  background-color: rgb(236, 232, 232);
  transition: 0.5s;
}
