header {
  height: 15rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  width: 20rem;
}

header button {
  margin-right: 4rem;
  background-color: inherit;
  color: red;
  border: none;
  font-size: 2rem;
}
