.sticky-bloc {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid red;
  background-color: black;
  padding: 2rem;
  z-index: 2;
}

.search-bloc label {
  color: whitesmoke;
  font-size: 1.8rem;
}

.search-bloc input {
  text-align: center;
  width: 30rem;
  height: 3rem;
  margin-left: 2rem;
  font-size: 1.6rem;
}

.select-bloc {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.select-bloc select {
  background-color: rgb(57, 57, 57);
  color: rgb(255, 0, 0);
  width: 10rem;
  font-size: 1.6rem;
  text-align: center;
  height: 100%;
}

.chevron {
  color: red;
  font-size: 2rem;
}

.chevron:hover {
  cursor: pointer;
}
